<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>学生信息</title>
</head>
<body>
    <h1>学生信息列表</h1>
    <ul>
        {% for student in students %}
            <li>
            <!--循环的计数器-->
            {{ forloop.counter }}--{{ student.sname }}--{{ student.scontend }}
            </li>
         {% empty %}
            <h1>目前没有学生，empty是没有对象时调用</h1>
        {% endfor %}

    <h1> {{ test|default:'test没有值我是默认' }}</h1>

    <h4>{{ str|upper }}</h4>
    <!--传进来的可以处理lower-->
    <h1>{{ list|join:'#' }}</h1>
    <h1>{{ num|add:-10 }}</h1>

    <h1>{% widthratio num 1 5 %}</h1>
    <!--width ratio 宽高比做乘除-->
    <h1>{% widthratio num 5 1 %}</h1>

    {% ifequal num 10 %}
        <h1>num等于10</h1>
    {% endifequal %}


    {% comment %}
    可以多行注释
    ｛%stu.name %｝ 放入语句也可以
    {% endcomment %}
    </ul>

</body>
</html>